<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Brush Script Font -->
    <link rel="stylesheet" href="https://use.typekit.net/smm8fam.css" />

    <!-- Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600&display=swap" rel="stylesheet" />

    <!-- Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap" rel="stylesheet" />

    <!-- Be Vietnam -->
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:300,400&display=swap" rel="stylesheet" />

    <!-- Animated.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css" />

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <input type="checkbox" id="nav-toggle" class="nav__toggle" />
    <label for="nav-toggle" class="nav__toggle-label">
        <span>X</span>
    </label>
    <nav class="nav animated fadeInDown">
        <div class="nav__logo-box">
            <a href="/" class="nav__logo">
                R²
            </a>
        </div>
        <div class="nav__nav">
            <ul class="nav__items">
                <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                <li class="nav__item"><a href="#portfolio" class="nav__link">Portfolio</a></li>
                <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
            </ul>
        </div>
    </nav>