.contact {
    @include flexCenter;
}

.form {
    display: block;

    &__inputs {
        display: grid;
        grid-template-columns: repeat(2, 20vw);
        grid-template-rows: repeat(2, min-content);
        grid-gap: 2rem;

        @media only screen and (max-width: $bp-sm) {
            grid-template-columns: repeat(2, 30vw);
        }

        @media only screen and (max-width: $bp-xs) {
            grid-template-columns: 80vw;
            grid-template-rows: repeat(3, min-content);
            grid-gap: 2.5rem;
        }
    }

    &__text {
        grid-column: 1 / -1;
    }

    &__input {
        font-family: inherit;
        width: 100%;
        padding: 1rem;
        border: none;
        border-bottom: 1.2px solid black;
        transition: all 0.3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            border-bottom: 2px solid $color-trim;
            transform: scale(1.005);
        }
    }

    &__btn {
        margin-top: 8rem;
        @include flexCenter;
    }
}
