// .particles-js {
//     height: 100%;
//     width: 100%;
// }

.header {
    height: 100vh;
    background-image: url(../img/space-2.jpg);
    // background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    //     url(../img/half-dome.jpg);
    background-position: center;
    background-size: cover;

    &__text {
        @include absoluteCenter;
        width: max-content;
    }
}

.letterR {
    &-1 {
        display: inline-block;
        font-family: brush-script-std, sans-serif;
        font-size: 7rem;
        color: $color-trim;
        animation-duration: 1.3s;
    }

    &-2 {
        display: inline-block;
        font-family: brush-script-std, sans-serif;
        font-size: 7rem;
        color: $color-trim;
        animation-duration: 1.3s;
        animation-delay: 0.4s;
    }
}
