.portfolio {
    @include grid;

    @media only screen and (max-width: $bp-sm) {
        grid-template-columns: 0.5fr [ main-start ] repeat(4, 1fr) [ main-end ] 0.5fr;
    }
}

.cards {
    grid-column: main-start / main-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;

    @media only screen and (max-width: $bp-lg) {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    @media only screen and (max-width: $bp-xs) {
        grid-gap: 4rem;
    }
}

.card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    // box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.2);

    &:hover .card__content {
        opacity: 1;
        transform: scale(1);
    }

    &:hover .btn {
        transform: translateY(0);
    }

    &:hover .card__description {
        transform: translateY(0);
    }

    &__img {
        width: 100%;
        height: auto;
        opacity: 1;
    }

    &__pic {
        @include flexCenter;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: scale(0.75);
        border-radius: 1rem;
        background-color: rgba($color-secondary, 0.95);
        transition: all 0.4s ease-in-out;

        & a {
            font-size: 1.2rem;
            line-height: 2.3rem;
            padding: 0.5rem 1.5rem;

            transform: translateY(-3rem);
            transition: transform 0.4s ease-in-out;

            @media only screen and (max-width: $bp-md) {
                font-size: 1rem;
                line-height: 1.9rem;
                border: 1.1px solid $color-trim;
            }
        }
    }

    &__description {
        transform: translateY(3rem);
        transition: all 0.4s ease-in-out;

        text-transform: capitalize;
        color: $color-trim;
        font-size: 2rem;
        font-weight: 500;
    }
}
