<%- include ("partials/header") %>

<section class="section-me">
    <div class="me">
        <h2 class="heading-secondary me__heading" data-aos="fade-up">
            What I Can Do
        </h2>
        <div class="me__pic-box" data-aos="fade-right">
            <img src="/img/Prof-pic.jpg" alt="" class="me__pic" />
        </div>
        <div class="me__about">
            <p class="me__text" data-aos="fade-up" data-aos-delay="150">
                I am Ryan Roman, four years in the workforce seeking a career in Front End Web
                Developement. I have over three years’ experience in facility engineering with
                CR-BPS and a have dedicated the last year of my life to the study of computer
                language. My combination of my creativity, passion and attention to detail has
                proven to be an asset to all my employers.
            </p>
            <p class="me__text" data-aos="fade-up" data-aos-delay="300">
                My interest in coding was sparked when I began creating macros in Excel to automate
                reports for my current employer. The creative and analytical parts of my mind
                relished the challenge of problem solving, and it was then I decided to learn all I
                could about programming. Since then I have dedicated the beginning of almost every
                day to educating myself in computer Language. Genuine interest and excitement have
                driven my relentless dedication to learning.
            </p>
            <p class="me__text" data-aos="fade-up" data-aos-delay="450">
                I studied Python to establish strong fundamentals in coding language. Due to my
                understand of fundamentals, I was able to transfer this knowledge to Excel VBA and
                wrote a script to enhance workflow efficiency within my company. The process
                entailed updating a database which included multiple inputs for conditional
                datasets. With a few hundred lines of code, I was able to automate the entire
                process.
            </p>
            <p class="me__text" data-aos="fade-up" data-aos-delay="600">
                This first success has only propelled my interest and added momentum to my coding
                journey. Since then I have used Java Script and Python to create a web scraping code
                that pulls data from LinkedIn to Excel for a company called Summa Media, based out
                of Chicago, Illinois. Beyond Python I have completed advanced courses in CSS and
                SASS and am currently working on a React course which includes Hooks, React Router,
                and Redux.
            </p>
            <h2 class="heading-secondary me__heading" data-aos="fade-up">
                Who I Am
            </h2>
            <p class="me__text" data-aos="fade-up" data-aos-delay="150">
                While my professional experience in this field may not exceed other applicants, it
                is who I am that sets me apart. I come from a background that has demanded success
                from an early age. While my genetic intelligence has brought me this far, it will be
                passion that maximizes my potential. I am a perfectionist whose entire life has be
                driven by two forces, curiosity and achievement. This energy has given my life
                extraordinary moments, such as reaching the summit of Half Dome at Yosemite National
                Park or achieving "Champion 3” status (top 1% in the world) at a game I enjoy,
                Rocket League.
            </p>
            <p class="me__text" data-aos="fade-up" data-aos-delay="150">
                The obsessive perfectionist in me has made coding an exciting challenge. My goal is
                to eventually master Java Script and become a full stack developer. I purse my
                interests to their greatest end, and my journey in computer language has only begun.
                It is easier to give 100 percent rather then 99, and I am all in on the “Ones” and
                “Zeros.”
            </p>
        </div>
    </div>
</section>

<%- include ("partials/footer") %>
