<%- include ("partials/header") %>

<section class="section-me">
    <div class="section-headings" data-aos="fade-in">
        <h4 class="heading-tertiary">
            Hello
        </h4>
        <h2 class="heading-secondary">
            About Me
        </h2>
    </div>
</section>

<%- include ("partials/footer") %>
