<%- include ("partials/header") %>

<header id="particles-js" class="header">
    <div id="home">
        <div class="header__text">
            <h1 class="heading-primary">
                Hello, I'm <span class="letterR-1 animated fadeInRight">R</span>yan
                <span class="letterR-2 animated fadeInRight">R</span>oman.
            </h1>
        </div>
    </div>
</header>

<section class="section-about" id="about">
    <div class="about">
        <div class="about__me" data-aos="fade-right">
            <img src="/img/Prof-pic.jpg" alt="" class="about__pic" />
        </div>
        <div class="about__text">
            <h2 class="heading-secondary" data-aos="fade-in">
                About Me
            </h2>
            <p class="about__mission" data-aos="fade-left">
                I am <strong>Ryan Roman</strong> - <strong>MISSION STATEMENT HERE</strong> - My
                curiousity and strong interest in Web Development drives my desire to learn and
                innovate. - Use this space to express my passion for Web Development and strong
                desire to learn.
                <strong
                    >"Learn more" leads to page about me. Describe my passion, high ambitions,
                    curiosity, desire to learn as much as I can, etc...</strong
                >
            </p>
            <a href="/about" class="btn" data-aos="fade-up">Learn more</a>
        </div>
    </div>
</section>

<section class="section-portfolio" id="portfolio">
    <div class="section-headings" data-aos="fade-in">
        <h4 class="heading-tertiary">
            Portfolio
        </h4>
        <h2 class="heading-secondary">
            Work I have done
        </h2>
    </div>
    <div class="portfolio">
        <div class="cards">
            <div class="card" data-aos="fade-up">
                <figure class="card__pic">
                    <img src="/img/natours.png" alt="" class="card__img" />
                </figure>
                <div class="card__content">
                    <h4 class="card__description">Natours project</h4>
                    <a href="#" class="btn">Learn more</a>
                </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-delay="200">
                <figure class="card__pic">
                    <img src="/img/trillo.png" alt="" class="card__img" />
                </figure>
                <div class="card__content">
                    <h4 class="card__description">Trillo project</h4>
                    <a href="#" class="btn">Learn more</a>
                </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-delay="400">
                <figure class="card__pic">
                    <img src="/img/nexter.png" alt="" class="card__img" />
                </figure>
                <div class="card__content">
                    <h4 class="card__description">Nexter project</h4>
                    <a href="#" class="btn">Learn more</a>
                </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-delay="600">
                <figure class="card__pic">
                    <img src="/img/yelpcamp.png" alt="" class="card__img" />
                </figure>
                <div class="card__content">
                    <h4 class="card__description">YelpCamp project</h4>
                    <a href="#" class="btn">Learn more</a>
                </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-delay="800">
                <figure class="card__pic">
                    <img src="/img/LinkedIn-Scraper2.png" alt="" class="card__img" />
                </figure>
                <div class="card__content">
                    <h4 class="card__description">LinkedIn Scraper</h4>
                    <a href="#" class="btn">Learn more</a>
                </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-delay="1000">
                <figure class="card__pic">
                    <img src="/img/half-dome.jpg" alt="" class="card__img" />
                </figure>
                <div class="card__content">
                    <h4 class="card__description">Card Description</h4>
                    <a href="#" class="btn">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-contact" id="contact">
    <div class="section-headings" data-aos="fade-in">
        <h4 class="heading-tertiary">
            Contact
        </h4>
        <h2 class="heading-secondary">
            Get in touch
        </h2>
    </div>
    <div class="contact">
        <div class="contact__form">
            <form action="#" class="form">
                <div class="form__inputs" data-aos="zoom-in">
                    <div class="form__name">
                        <input
                            class="form__input"
                            type="text"
                            name="name"
                            placeholder="Name"
                            required
                        />
                    </div>
                    <div class="form__email">
                        <input
                            class="form__input"
                            type="email"
                            name="email"
                            placeholder="Email"
                            required
                        />
                    </div>
                    <div class="form__text">
                        <textarea
                            class="form__input"
                            type="text"
                            name="message"
                            placeholder="Your message"
                            required
                            cols="30"
                            rows="10"
                        ></textarea>
                    </div>
                </div>
                <div class="form__btn" data-aos="fade-right">
                    <button href="#" class="btn">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</section>

<%- include ("partials/footer") %>
